<section class="thirteen columns">
    <h1>CERTIFICATIONS</h1>
	<article>
        <header>
            <h1>ECFMG Certification</h1>
            <span><a href="https://ecfmg.org/">Certification Commission For Healthcare Interpreters</a></span>
            <span><address>Philadelphia, PA , USA </address><time>Since June 2023</time></span>
        </header>
        <p>
          ECFMG Certification is the standard for evaluating the qualifications of international medical graduates (IMGs) entering the U.S. health care system.
        </p>
    </article>
    <article>
        <header>
            <h1>Certified Medical Interpreter - CoreCHI</h1>
            <span><a href="https://cchicertification.org/">Certification Commission For Healthcare Interpreters</a></span>
            <span><address>Washington,DC USA</address><time>Since April 2022</time></span>
        </header>
        <p>
          An independent, national, comprehensive certification program to medical interpreters of all languages since 2009.
        </p>
    </article>
    
</section>
