<section class="thirteen columns">
    <h1>Other Experience</h1>
    <article>
        <header>
            <h1>Technical Advisor</h1>
            <span><a href="https://en.wikipedia.org/wiki/Jubaland">Ministry of Health, Jubbaland State of Somalia</a></span>
            <span><address>Kismayo, Somalia</address><time> June, 2015 to August, 2018</time></span>
        </header>
        <p>
           Special advisory committee to the assistant minister tasked with overseeing the effective management of donated drugs and equipment and playing a key role in addressing the public health challenges facing the state. This involved coordinating with non-governmental organizations (NGOs) to tackle cholera outbreaks and monitor the situation of HIV/AIDS, ensuring that the right resources and support were in place to address these pressing public health issues.
           Drawing on my professional experiences and comprehensive research, I offered valuable insight into the standard methodologies and common obstacles faced by hospitals and medical communities in addressing these health challenges. This helped to inform the development of evidence-based policies and programs aimed at improving public health outcomes.
           In addition to my advisory role, I audited technical documentation and processes to enhance the completion of project goals and ensure that resources were being utilized effectively. I took a rigorous, data-driven approach, carefully reviewing all relevant materials and conducting thorough assessments to identify areas for improvement. I then reported my findings to the Assistant Minister, providing recommendations and guidance on how to enhance the effectiveness of public health initiatives in the state.
        </p>
    </article>
  
</section>
