<section class="thirteen columns">
    <h1>Other Experience</h1>
    <article>
        <header>
            <h1>Technical Advisor</h1>
            <span><a href="https://en.wikipedia.org/wiki/Jubaland">Ministry of Health, Jubbaland State of Somalia</a></span>
            <span><address>Kismayo, Somalia</address><time> June, 2015 to August, 2018</time></span>
        </header>
        <p>
           Chaired the Special advisory committee to the assistant minister that oversaw the management of donated drugs and equipments, coordinating with NGO's in tackling cholera outbreaks and monitoring the HIV/AIDS situation in the State. 
           Offered insight into standard methodologies and common obstacles faced by hospitals and medical communities, based on professional experiences and third-party research. 
           Audited technical documentation and processes to enhance completion of project goals, reporting findings to Assistant Minister.
        </p>
    </article>
  
</section>
