<section class="thirteen columns">
    <h1>RESEARCH EXPERIENCE</h1>
    <article>
        <header>
            <h1>Surgical Research</h1>
			<h2> Outcome of Postpartum hemorrhage managed with B-Lynch Suture in a community Hospital in Southern Somalia </h2>
            <span>Kismayo General Hospital</span>
            <span><address>Kismayo, Somalia</address><time>September, 2016 to March, 2018</time></span>
        </header>
        <p>
           The aim of this study was to evaluate the effectiveness and safety of the B-Lynch suture as a management strategy for postpartum hemorrhage (PPH) in a community hospital in Southern Somalia. 
           Postpartum Hemorrhage is a leading cause of maternal mortality and morbidity worldwide, and is particularly prevalent in low- and middle-income countries like Somalia. The B-Lynch suture is a surgical technique that involves the placement of sutures in the anterior and posterior uterine walls to control uterine bleeding.
           The goal was to determine the effectiveness of the B-Lynch suture, determine the rate of success of the procedure, the time required to control bleeding, the incidence of complications, and the maternal and fetal outcomes.
           The study was conducted in a community hospital in Southern Somalia and included 22 women who presented with PPH and underwent the B-Lynch suture procedure. The study outcomes were evaluated by collecting data on maternal and fetal outcomes, including maternal blood loss, uterine tone, and maternal and fetal vital signs.
           The initial outcome showed that the B-Lynch suture was effective in controlling PPH with a high success rate and low incidence of complications. The procedure was found to be safe and quick, with bleeding controlled within minutes. Maternal and fetal outcomes were favorable, with no adverse events reported.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Literature Review</h1>
			<h2> Choice of incisions for c-section in resource limited settings </h2>
            <span>Kismayo General Hospital</span>
            <span><address>Kismayo, Somalia</address><time>May, 2016</time></span>
        </header>
        <p>
           Choice of incisions for cesarean section (C-section) is an important decision that can significantly impact maternal and fetal outcomes, especially in resource- limited settings where access to medical care and resources may be limited.
           There are two main types of incisions used for C-sections: the transverse (also known as horizontal) incision and the classical (also known as vertical) incision.
           The transverse incision is made along the bikini line and is the most commonly used incision for C-sections. It is associated with a lower risk of uterine rupture during future pregnancies, faster recovery, and less pain. 
           The classical incision is made vertically along the midline of the uterus and is used in emergency situations, such as when the baby is in distress, or when the transverse incision is not possible due to uterine scars from previous C-sections. 
           The classical incision is associated with a higher risk of uterine rupture during future pregnancies and a longer recovery time.
           We found that the classical incision was commonly favored by older surgeons due to the speed of delivery especially in emergency situations, with the transverse incision less favored due to lack of training, poor awareness of the benefits of transverse incisions and the complicated nature of most caesarian cases presentation.
           We concluded that addressing these factors will be important in improving maternal and fetal outcomes, the need for standardizing care in a resource- limited setting, and developing guidelines for choosing the type of incision.
        </p>
    </article>
   
</section>
