<section class="thirteen columns">
    <h1>Teaching Experience</h1>
    <article>
        <header>
            <h1>Lecturer</h1>
            <span><a href="http://ku.edu.so/">Kismayo University</a></span>
            <span><address>Kismayo, Somalia</address><time>September, 2015 to March, 2020</time></span>
        </header>
        <p>
           Instructor at medical school conducting both teaching and practical sessions, supervising students during clerkships and internships, ensuring that they received hands-on experience in real-world settings.
           Applied various teaching aids to minimize learning gaps and enhance the educational experience for students to keep them engaged and motivated.
           Responsible for overseeing the implementation of the curriculum and ensuring that it was up-to-date with the latest industry best practices. Worked closely with colleagues and department heads to continuously improve the curriculum, taking into account the latest advancements in medicine and the changing needs of students. This allowed us to provide students with a well-rounded education that equipped them with the skills and knowledge they would need to succeed in their future careers as medical professionals.
        </p>
    </article>
    <article>
        <header>
            <h1>Instrctor</h1>
            <span><a href="https://uohs.edu.so/">University of Health Science, Bosaso</a></span>
            <span><address>Bosaso, Somalia</address><time> October, 2014 to April, 2015</time></span>
        </header>
        <p>
           Instructor in physiology and pathology to medical and nursing students, committed to providing comprehensive education in these subjects and designing and delivering lectures.
           Member of the Quality Assurance team, which played a critical role in maintaining the high standards of the faculty. This involved participating in regular meetings to review and evaluate the curriculum, teaching methods, and student performance, and making recommendations for improvements where necessary.
           Being a part of the Quality Assurance team provided me with the opportunity to play a key role in the continuous improvement of the faculty, and to help ensure that students received the best possible education.
        </p>
    </article>
    <article>
        <header>
            <h1>English Teacher</h1>
            <span></span>
            <span><address>Changchun, China</address><time>2010 to 2014</time></span>
        </header>
        <p>
           Taught English to 5-14 student age group and University students, Responsibility was lesson planning, teaching and curriculum development coordinator.
        </p>
    </article>
   
</section>
