<section class="thirteen columns">
    <h1>Teaching Experience</h1>
    <article>
        <header>
            <h1>Lecturer</h1>
            <span><a href="http://kismayouniversity.com//">Faculty of Health Science, Kismayo University</a></span>
            <span><address>Kismayo, Somalia</address><time>Since September, 2015</time></span>
        </header>
        <p>
            Teach the medical and nursing students a number of subjects including anatomy, physiology, pathology, Obs Gyn, Anesthesia, pediatrics, e.t.c
           
        </p>
    </article>
    <article>
        <header>
            <h1>Instrctor</h1>
            <span><a href="http://uohsboss.com//">University of Health Science, Bosaso</a></span>
            <span><address>Bosaso, Somalia</address><time> October, 2014 to April, 2015</time></span>
        </header>
        <p>
           Worked as Physiology and Pathology instructor at faculty of Clinical Medicine, and member of Quality Assurance team. 
        </p>
    </article>
    <article>
        <header>
            <h1>English Teacher</h1>
            <span></span>
            <span><address>Changchun, China</address><time>2010 to 2014</time></span>
        </header>
        <p>
            Taught English to 5-14 student age group and University students, Responsibility was lesson planning, teaching and curriculum development 
            coordinator.
        </p>
    </article>
   
</section>
