<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Medical Director</h1>
            <span><a href="http://www.kismayomed.com/">Kismayo Medical Center</a></span>
            <span><address>Kismayo, Somalia</address><time>Since August, 2015</time></span>
        </header>
        <p>
            Work as primary care physician and Provide medical direction for the clinic’s health care activities.
        </p>
    </article>
    <article>
        <header>
            <h1>General Doctor</h1>
            <span>Kismayo General Hospital</a></span>
            <span><address>Kismayo, Somalia</address><time> December, 2015 to December, 2016</time></span>
        </header>
        <p>
            Work as primary care physician at the maternity department that provide medical consultation to wide range of patients and manage both emergent and complicated obstetric cases.
        </p>
    </article>
    <article>
        <header>
            <h1>General Doctor</h1>
            <span><a href="http://http://kismayouniversity.com/">Kismayo University Teaching Hospital</a></span>
            <span><address>Kismayo, Somalia</address><time>April, 2015 to July, 2015</time></span>
        </header>
        <p>
            Work as primary care physician responsible performing and assisting in surgeries, lead the surgical team, manage the healthcare activity of the hospital.
        </p>
    </article>
    <article>
        <header>
            <h1>General Doctor</h1>
            <span><a href="http://http://kismayouniversity.com/">Kismayo University Teaching Hospital</a></span>
            <span><address>Kismayo, Somalia</address><time>April, 2015 to July, 2015</time></span>
        </header>
        <p>
            Work as primary care physician responsible performing and assisting in surgeries, lead the surgical team, manage the healthcare activity of the hospital.
        </p>
    </article>
   <article>
        <header>
            <h1>General Doctor</h1>
            <span><a href="http://http://kismayouniversity.com/">Kismayo University Teaching Hospital</a></span>
            <span><address>Kismayo, Somalia</address><time>April, 2015 to July, 2015</time></span>
        </header>
        <p>
            Work as primary care physician responsible performing and assisting in surgeries, lead the surgical team, manage the healthcare activity of the hospital.
        </p>
    </article>
</section>
