<section class="thirteen columns">
    <h1>Experience</h1>
	<article>
        <header>
            <h1>Certified Medical Interpreter</h1>
            <span><a href="https://www.Hennepinhealthcare.org/">Hennepin County Medical Center</a></span>
            <span><address>Minneapolis, MN</address><time>Since July, 2022</time></span>
        </header>
        <p>
            Serve as a medical interpreter for patients and staff during clinical encounters by delivering accurate, skilled interpretations to facilitate effective communications.
            Equip healthcare providers with cultural information to promote the appropriate provision of equitable health services.
            Translate documents about treatment directions and helps non-English speaking patients fill out medical forms.
            Follow ethical codes to protect the confidentiality of patient medical information.
        </p>
    </article>
    <article>
        <header>
            <h1>Medical Interpreter</h1>
            <span><a href="https://www.intelligeresolutions.com/">Intelligere Inc.</a></span>
            <span><address>Plymouth, MN</address><time>January, 2022 to July, 2022</time></span>
        </header>
        <p>
            Serve as medical interpreter for patients and staff during clinical encounters by delivering accurate, skilled interpretations to facilitate effective communications.
            Equip healthcare providers with cultural information to promote appropriate provision of health services. 
            Translate documents about treatment directions and help non-English speaking patients fill out medical forms.
        </p>
    </article>
    <article>
        <header>
            <h1>Direct Support Professional</h1>
            <span>Serenity Group Homes</span>
            <span><address>Minneapolis, MN</address><time>October 2021 to January, 2022</time></span>
        </header>
        <p>
           Responsible for implementing variety of behavioral support plans, teaching functional communication, and direct supervision of 10+ clients to achieve increased independence, productivity and inclusion in the community
           Provide extension of other forms of therapy deemed appropriate by behavioral therapists.
           Collaborate with the care team in managing challenging behaviors by using positive reinforcement techniques, and providing comfort and support.
        </p>
    </article>
    <article>
        <header>
            <h1>Primary Care Physician</h1>
            <span><a href="http://www.kismayomed.com/">Kismayo Medical Center</a></span>
            <span><address>Kismayo, Somalia</address><time> August, 2015 to May, 2021</time></span>
        </header>
        <p>
           Primary care physician responsible for accurate diagnosis of patient issues and the development and implementation of effective treatment plans to address them.
           Provided direction for the hospital's healthcare activities and supervision of hospital staff.
           Developed clinical practice guidelines, ensured patient safety, and oversaw the quality of patient care at the hospital.
           Improved patient outcomes and delivery of care through improved clinical quality processes, emphasizing streamlined service delivery and adherence to guidelines.
        </p>
    </article>
    <article>
        <header>
            <h1>General Surgeon</h1>
            <span>Kismayo General Hospital</span>
            <span><address>Kismayo, Somalia</address><time> December, 2015 to December, 2016</time></span>
        </header>
        <p>
           Provided medical consultations, participated and led emergency surgeries, managed care and delivery of complicated labor cases. 
           Diagnosed issues and implemented treatment plans to resolve problems or help manage symptoms.
           Performed emergency surgeries such as C-section, PPH and Hysterectomies.
           Spearheaded, planned and generated research projects, from recruiting patients, reviewing research literature to presenting findings and collaborating with other researchers in performing data analysis.
        </p>
    </article>
    <article>
        <header>
            <h1>General Surgeon</h1>
            <span><a href="http://ku.edu.so/">Kismayo University Teaching Hospital</a></span>
            <span><address>Kismayo, Somalia</address><time>March, 2015 to August, 2015</time></span>
        </header>
        <p>
           Responsible for preoperative, operative and post-operative care of surgical patients. 
           Attended to trauma calls and participated in management and care of emergency cases. 
           Performed and assisted in many surgeries, gained the ability to perform surgeries safely and competently, and provide guidance to medical and nurse trainees.
           Operated on patients to correct deformities, repair injuries and prevent and treat diseases.
        </p>
    </article>
    <article>
        <header>
            <h1>General Doctor</h1>
            <span>Al-Towba Pharmacy</span>
            <span><address>Bosaso, Somalia</address><time>September, 2014 to March, 2015</time></span>
        </header>
        <p>
             Work as primary care physician with specific focus in ENT, responsible for diagnosis,treatment and management of patients.
        </p>
    </article>
   <article>
        <header>
            <h1>Intern</h1>
            <span><a href="http://jdyy.cn/">First Hospital of Jilin University</a></span>
            <span><address>Changchun, China</address><time>June, 2013 to July, 2014</time></span>
        </header>
        <p>
            Worked as resident intern responsible for patient triage, admission, discharge, and take part in academic presentation during rounds.
        </p>
    </article>
</section>
